
@{
    ViewData["Title"] = "tryAgain";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://media.istockphoto.com/vectors/grunge-red-invalid-word-round-rubber-seal-stamp-on-white-background-vector-id915287624" class="img-thumbnail"/>
            <a href="@Url.Action("aadminLogin","Admins")">Login Again</a>
        </div>

        
    </div>
</div>


