
@{
    ViewData["Title"] = "welCome";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://media.istockphoto.com/vectors/grunge-red-invalid-word-round-rubber-seal-stamp-on-white-background-vector-id915287624" class="img-thumbnail" />
            
        </div>
        <div class="col-md-6">
            <ul>
                <li> <a href="@Url.Action("Index","Users")">View Users</a></li>

                <li> <a href="@Url.Action("Index","Gmes")">View Games</a></li>

                <li> <a href="@Url.Action("Index","Home")">Logout</a></li>
            </ul>

        </div>

    </div>
</div>
